# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#

Some of the popular languages that Data Scientists use are:

1. Python
2. R 
3. SQL
4. Javascript

#

# Exercise 5 - Create a markdown cell to list data science libraries

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch

#

# Exercise 6 - Create a markdown cell with a table of Data Science tools

1. Python
2. R
3. SQL
4. Tableau
5. Power BI
6. MATLAB
7. SAS
8. Apache Spark
9. Hadoop
10. IBM Watson
11. Excel
12. Jupyter Notebook

#

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Arithmetic Expressions are:

Addition: 5 + 3 = 8          # + is used to add 5 and 3 together, resulting in 8.

Subtraction: 10 - 4 = 6      # - is used to subtract 4 from 10, resulting in 6.

Multiplication: 2 * 6 = 12   # * is used to multiply 2 and 6 together, resulting in 12.

Division: 15 / 3 = 5         # / is used to divide 15 by 3, resulting in 5.

Exponentiation: 2 ^ 3 = 8    # ^ is used to raise 2 to the power of 3, resulting in 8.

Modulus: 15 % 4 = 3          # % is used to find the remainder when 15 is divided by 4, resulting in 3.

#

# Exercise 8 - Create a code cell to multiply and add numbers

Multiply and add numbers

a = 2
b = 3
c = 5

result = a + b * c

print("The result is", result)  # 17 is answer

#

# Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
minutes = 120

# Convert minutes to hours
hours = minutes / 60

# Output the result
print("There are", hours, "hours in", minutes, "minutes.")

There are 2.0 hours in 120 minutes.

#

# Exercise 10 - Insert a markdown cell to list Objectives

# Objectives

◉ popular languages that Data Scientists
◉ list data science libraries
◉ table of Data Science tools
◉ arithmetic expression examples
◉ convert minutes to hours

#

# Exercise 11 - Create a markdown cell to indicate the Author's name

# Author

Farhan Masood Khan